# Objective
The objective of this notebook is:

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('analyze_me.csv')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5983 entries, 0 to 5982
Data columns (total 18 columns):
delivery_id                            5983 non-null int64
customer_id                            5983 non-null int64
jumpman_id                             5983 non-null int64
vehicle_type                           5983 non-null object
pickup_place                           5983 non-null object
place_category                         5100 non-null object
item_name                              4753 non-null object
item_quantity                          4753 non-null float64
item_category_name                     4753 non-null object
how_long_it_took_to_order              3038 non-null object
pickup_lat                             5983 non-null float64
pickup_lon                             5983 non-null float64
dropoff_lat                            5983 non-null float64
dropoff_lon                            5983 non-null float64
when_the_delivery_started              5983 non-null object
when_the_Jumpman_arrived_at_pickup     5433 non-null object
when_the_Jumpman_left_pickup           5433 non-null object
when_the_Jumpman_arrived_at_dropoff    5983 non-null object
dtypes: float64(5), int64(3), object(10)
memory usage: 841.5+ KB

In [40]:
df.iloc[1]

delivery_id                                               1377056
customer_id                                                 64452
jumpman_id                                                 104533
vehicle_type                                              bicycle
pickup_place                                  Prince Street Pizza
place_category                                              Pizza
item_name                                   Neapolitan Rice Balls
item_quantity                                                   3
item_category_name                                     Munchables
how_long_it_took_to_order                         00:25:09.107093
pickup_lat                                                40.7231
pickup_lon                                               -73.9946
dropoff_lat                                               40.7197
dropoff_lon                                              -73.9919
when_the_delivery_started               2014-10-16 21:58:58.65491
when_the_Jumpman_arrived_at_pickup     2014-10-16 22:26:02.120931
when_the_Jumpman_left_pickup           2014-10-16 22:48:23.091253
when_the_Jumpman_arrived_at_dropoff    2014-10-16 22:59:22.948873
Name: 1, dtype: object

In [41]:
?pd.to_datetime

Signature:
pd.to_datetime(
    arg,
    errors='raise',
    dayfirst=False,
    yearfirst=False,
    utc=None,
    box=True,
    format=None,
    exact=True,
    unit=None,
    infer_datetime_format=False,
    origin='unix',
    cache=True,
)
Docstring:
Convert argument to datetime.

Parameters
----------
arg : integer, float, string, datetime, list, tuple, 1-d array, Series

    .. versionadded:: 0.18.1

       or DataFrame/dict-like

errors : {'ignore', 'raise', 'coerce'}, default 'raise'

    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaT
    - If 'ignore', then invalid parsing will return the input
dayfirst : boolean, default False
    Specify a date parse order if `arg` is str or its list-likes.
    If True, parses dates with the day first, eg 10/11/12 is parsed as
    2012-11-10.
    Warning: dayfirst=True is not strict, but will prefer to parse
    with day first (this is a known bug, based on dateutil behavior).
yearfirst : boolean, default False
    Specify a date parse order if `arg` is str or its list-likes.

    - If True parses dates with the year first, eg 10/11/12 is parsed as
      2010-11-12.
    - If both dayfirst and yearfirst are True, yearfirst is preceded (same
      as dateutil).

    Warning: yearfirst=True is not strict, but will prefer to parse
    with year first (this is a known bug, based on dateutil behavior).

    .. versionadded:: 0.16.1

utc : boolean, default None
    Return UTC DatetimeIndex if True (converting any tz-aware
    datetime.datetime objects as well).
box : boolean, default True

    - If True returns a DatetimeIndex or Index-like object
    - If False returns ndarray of values.

    .. deprecated:: 0.25.0
        Use :meth:`Series.to_numpy` or :meth:`Timestamp.to_datetime64`
        instead to get an ndarray of values or numpy.datetime64,
        respectively.

format : string, default None
    strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
    all the way up to nanoseconds.
    See strftime documentation for more information on choices:
    https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
exact : boolean, True by default

    - If True, require an exact format match.
    - If False, allow the format to match anywhere in the target string.

unit : string, default 'ns'
    unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with unit='ms' and origin='unix' (the default), this
    would calculate the number of milliseconds to the unix epoch start.
infer_datetime_format : boolean, default False
    If True and no `format` is given, attempt to infer the format of the
    datetime strings, and if it can be inferred, switch to a faster
    method of parsing them. In some cases this can increase the parsing
    speed by ~5-10x.
origin : scalar, default is 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
    - If 'julian', unit must be 'D', and origin is set to beginning of
      Julian Calendar. Julian day number 0 is assigned to the day starting
      at noon on January 1, 4713 BC.
    - If Timestamp convertible, origin is set to Timestamp identified by
      origin.

    .. versionadded:: 0.20.0
cache : boolean, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.23.0

    .. versionchanged:: 0.25.0
        - changed default value from False to True

Returns
-------
ret : datetime if parsing succeeded.
    Return type depends on input:

    - list-like: DatetimeIndex
    - Series: Series of datetime64 dtype
    - scalar: Timestamp

    In case when it is not possible to return designated types (e.g. when
    any element of input is before Timestamp.min or after Timestamp.max)
    return will have datetime.datetime type (or corresponding
    array/Series).

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_timedelta : Convert argument to timedelta.

Examples
--------
Assembling a datetime from multiple columns of a DataFrame. The keys can be
common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
...                    'month': [2, 3],
...                    'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

If a date does not meet the `timestamp limitations
<http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
#timeseries-timestamp-limits>`_, passing errors='ignore'
will return the original input instead of raising any exception.

Passing errors='coerce' will force an out-of-bounds date to NaT,
in addition to forcing non-dates (or non-parseable dates) to NaT.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
datetime.datetime(1300, 1, 1, 0, 0)
>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

Passing infer_datetime_format=True can often-times speedup a parsing
if its not an ISO8601 format exactly, but in a regular format.

>>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)
>>> s.head()
0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

>>> %timeit pd.to_datetime(s,infer_datetime_format=True)  # doctest: +SKIP
100 loops, best of 3: 10.4 ms per loop

>>> %timeit pd.to_datetime(s,infer_datetime_format=False)  # doctest: +SKIP
1 loop, best of 3: 471 ms per loop

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
...                origin=pd.Timestamp('1960-01-01'))
DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)
File:      ~/opt/anaconda3/lib/python3.7/site-packages/pandas/core/tools/datetimes.py
Type:      function

In [51]:
df['when_the_delivery_started']= pd.to_datetime(df['when_the_delivery_started'])
df['when_the_Jumpman_arrived_at_pickup']= pd.to_datetime(df['when_the_Jumpman_arrived_at_pickup'])
df['when_the_Jumpman_left_pickup']= pd.to_datetime(df['when_the_Jumpman_left_pickup'])
df['when_the_Jumpman_arrived_at_dropoff']= pd.to_datetime(df['when_the_delivery_started'])

In [52]:
df.dtypes

delivery_id                                     int64
customer_id                                     int64
jumpman_id                                      int64
vehicle_type                                   object
pickup_place                                   object
place_category                                 object
item_name                                      object
item_quantity                                 float64
item_category_name                             object
how_long_it_took_to_order                      object
pickup_lat                                    float64
pickup_lon                                    float64
dropoff_lat                                   float64
dropoff_lon                                   float64
when_the_delivery_started              datetime64[ns]
when_the_Jumpman_arrived_at_pickup     datetime64[ns]
when_the_Jumpman_left_pickup           datetime64[ns]
when_the_Jumpman_arrived_at_dropoff    datetime64[ns]
dtype: object

In [54]:
df.iloc[0]

delivery_id                                               1457973
customer_id                                                327168
jumpman_id                                                 162381
vehicle_type                                                  van
pickup_place                                            Melt Shop
place_category                                           American
item_name                                                Lemonade
item_quantity                                                   1
item_category_name                                      Beverages
how_long_it_took_to_order                         00:19:58.582052
pickup_lat                                                40.7446
pickup_lon                                               -73.9907
dropoff_lat                                               40.7521
dropoff_lon                                              -73.9854
when_the_delivery_started              2014-10-26 13:51:59.898924
when_the_Jumpman_arrived_at_pickup                            NaT
when_the_Jumpman_left_pickup                                  NaT
when_the_Jumpman_arrived_at_dropoff    2014-10-26 13:51:59.898924
Name: 0, dtype: object

In [64]:
print(df.when_the_delivery_started.min())
print(df.when_the_delivery_started.max())

2014-10-01 00:07:58.632482
2014-10-30 23:08:43.481900

In [11]:
pd.DataFrame({'count':df.isnull().sum(), 'percent':(df.isnull().sum())/df.shape[0]}).sort_values(by='count', ascending=False)

                                     count   percent
how_long_it_took_to_order             2945  0.492228
item_name                             1230  0.205582
item_quantity                         1230  0.205582
item_category_name                    1230  0.205582
place_category                         883  0.147585
when_the_Jumpman_left_pickup           550  0.091927
when_the_Jumpman_arrived_at_pickup     550  0.091927
pickup_lon                               0  0.000000
when_the_delivery_started                0  0.000000
dropoff_lon                              0  0.000000
dropoff_lat                              0  0.000000
delivery_id                              0  0.000000
pickup_lat                               0  0.000000
customer_id                              0  0.000000
pickup_place                             0  0.000000
vehicle_type                             0  0.000000
jumpman_id                               0  0.000000
when_the_Jumpman_arrived_at_dropoff      0  0.000000

In [17]:
df['vehicle_type'].value_counts()

bicycle       4274
car           1215
walker         274
van             76
scooter         75
truck           48
motorcycle      21
Name: vehicle_type, dtype: int64

In [30]:
df.groupby(by='pickup_place').count().sort_values(by='delivery_id', ascending=False)

,delivery_id,customer_id,jumpman_id,vehicle_type,place_category,item_name,item_quantity,item_category_name,how_long_it_took_to_order,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,when_the_delivery_started,when_the_Jumpman_arrived_at_pickup,when_the_Jumpman_left_pickup,when_the_Jumpman_arrived_at_dropoff
pickup_place,,,,,,,,,,,,,,,,,
Shake Shack,311,311,311,311,311,310,310,310,0,311,311,311,311,311,289,289,311
Momofuku Milk Bar,186,186,186,186,186,185,185,185,0,186,186,186,186,186,179,179,186
The Meatball Shop,184,184,184,184,184,181,181,181,179,184,184,184,184,184,176,176,184
Blue Ribbon Sushi,151,151,151,151,151,149,149,149,147,151,151,151,151,151,127,127,151
sweetgreen,149,149,149,149,149,134,134,134,119,149,149,149,149,149,134,134,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
New York Vintners,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,0,1
New Malaysia,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
New London Pharmacy,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1
New Balance Store,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1
Rai Rai Ken,1,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,1

In [35]:
len(df['pickup_place'].unique())

898

In [36]:
df[df['pickup_place']=='Shake Shack']

,delivery_id,customer_id,jumpman_id,vehicle_type,pickup_place,place_category,item_name,item_quantity,item_category_name,how_long_it_took_to_order,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,when_the_delivery_started,when_the_Jumpman_arrived_at_pickup,when_the_Jumpman_left_pickup,when_the_Jumpman_arrived_at_dropoff
9,1417206,153816,157415,car,Shake Shack,Burger,Shackburger,1.0,Burgers,NaN,40.758457,-73.989140,40.743613,-73.977684,2014-10-21 21:18:37.909545,2014-10-21 21:20:14.434227,2014-10-21 21:47:03.624931,2014-10-21 21:59:26.081278
22,1320596,368663,125504,bicycle,Shake Shack,Burger,Shack-cago Dog,1.0,Flat-Top Dogs,NaN,40.780826,-73.976483,40.801488,-73.969690,2014-10-08 20:53:52.039403,2014-10-08 20:59:18.079384,2014-10-08 21:14:42.577492,2014-10-08 21:23:52.213217
48,1320822,149508,43955,bicycle,Shake Shack,Burger,Cheese Fries,1.0,Fries,NaN,40.715279,-74.014860,40.716168,-74.003693,2014-10-08 21:18:11.900324,2014-10-08 21:28:15.142224,2014-10-08 21:47:35.029385,2014-10-08 21:54:36.734336
64,1414452,148033,128139,car,Shake Shack,Burger,NaN,NaN,NaN,NaN,40.682770,-73.976532,40.693256,-73.966173,2014-10-21 14:57:29.338613,2014-10-21 15:30:02.259968,2014-10-21 15:31:21.050095,2014-10-21 15:37:44.276996
137,1299559,148327,118093,scooter,Shake Shack,Burger,Fries,1.0,Fries,NaN,40.692146,-73.988865,40.701972,-73.987036,2014-10-05 12:30:23.27789,2014-10-05 13:07:23.30729,2014-10-05 13:26:13.134353,2014-10-05 13:35:38.318512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,1393083,58675,140096,bicycle,Shake Shack,Burger,Fries,2.0,Fries,NaN,40.715279,-74.014860,40.707930,-74.006463,2014-10-18 21:22:08.439224,2014-10-18 22:00:41.705364,2014-10-18 22:19:00.988894,2014-10-18 22:27:25.991452
5895,1300312,361651,44938,walker,Shake Shack,Burger,Shackburger,3.0,Burgers,NaN,40.758457,-73.989140,40.766912,-73.984086,2014-10-05 13:54:59.148422,2014-10-05 13:56:22.493833,2014-10-05 14:25:17.32414,2014-10-05 14:41:47.680372
5941,1389568,355090,158227,bicycle,Shake Shack,Burger,Cheese Fries,1.0,Fries,NaN,40.758457,-73.989140,40.761986,-73.985676,2014-10-18 15:50:57.637565,2014-10-18 15:55:54.50221,2014-10-18 16:20:14.411273,2014-10-18 16:25:49.844492
5962,1483811,180567,41408,car,Shake Shack,Burger,Shack -Cago Dog,1.0,Flat Top Dogs,NaN,40.715279,-74.014860,40.722574,-74.010246,2014-10-29 22:37:52.579546,2014-10-29 22:40:28.989659,2014-10-29 22:58:21.162858,2014-10-29 23:02:48.791177
5980,1274438,355090,153113,bicycle,Shake Shack,Burger,Fries,1.0,Fries,NaN,40.780826,-73.976483,40.763573,-73.973503,2014-10-01 18:12:56.973655,2014-10-01 18:29:59.803516,2014-10-01 18:52:19.769244,2014-10-01 19:16:52.653179