# Objective
The objective of this notebook is:

# Summary
1. [Understand the data](#understand)
2.
3.
4. 
5.
6.

In [35]:
import pandas as pd
import numpy as np
import os as os
import matplotlib.pyplot as plt

In [10]:
os.listdir('..')

['Jumpman23', '.DS_Store', 'PM_MarketAnalysis', 'Jumpman23_2.zip']

In [15]:
df = pd.read_csv('../Jumpman23/analyze_me.csv')

date_cols = ['when_the_delivery_started',
             'when_the_Jumpman_arrived_at_pickup',
             'when_the_Jumpman_left_pickup',
             'when_the_Jumpman_arrived_at_dropoff']
for i in date_cols:
    df[i] = pd.to_datetime(df[i])

<a id='understand'></a>
## Understand the data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5983 entries, 0 to 5982
Data columns (total 18 columns):
delivery_id                            5983 non-null int64
customer_id                            5983 non-null int64
jumpman_id                             5983 non-null int64
vehicle_type                           5983 non-null object
pickup_place                           5983 non-null object
place_category                         5100 non-null object
item_name                              4753 non-null object
item_quantity                          4753 non-null float64
item_category_name                     4753 non-null object
how_long_it_took_to_order              3038 non-null object
pickup_lat                             5983 non-null float64
pickup_lon                             5983 non-null float64
dropoff_lat                            5983 non-null float64
dropoff_lon                            5983 non-null float64
when_the_delivery_started              5983 non-null object
when_the_Jumpman_arrived_at_pickup     5433 non-null object
when_the_Jumpman_left_pickup           5433 non-null object
when_the_Jumpman_arrived_at_dropoff    5983 non-null object
dtypes: float64(5), int64(3), object(10)
memory usage: 841.5+ KB

In [11]:
pd.DataFrame({'count':df.isnull().sum(), 
              'percent':(df.isnull().sum())/df.shape[0]}).sort_values(by='count', ascending=False)

                                     count   percent
how_long_it_took_to_order             2945  0.492228
item_name                             1230  0.205582
item_quantity                         1230  0.205582
item_category_name                    1230  0.205582
place_category                         883  0.147585
when_the_Jumpman_left_pickup           550  0.091927
when_the_Jumpman_arrived_at_pickup     550  0.091927
pickup_lon                               0  0.000000
when_the_delivery_started                0  0.000000
dropoff_lon                              0  0.000000
dropoff_lat                              0  0.000000
delivery_id                              0  0.000000
pickup_lat                               0  0.000000
customer_id                              0  0.000000
pickup_place                             0  0.000000
vehicle_type                             0  0.000000
jumpman_id                               0  0.000000
when_the_Jumpman_arrived_at_dropoff      0  0.000000

In [18]:
print(df.when_the_delivery_started.min())
print(df.when_the_delivery_started.max())

2014-10-01 00:07:58.632482
2014-10-30 23:08:43.481900

In [26]:
df['vehicle_type'].value_counts()

bicycle       4274
car           1215
walker         274
van             76
scooter         75
truck           48
motorcycle      21
Name: vehicle_type, dtype: int64

In [34]:
df['vehicle_type'].isnull().any()

False

In [41]:
for vehicle in df.vehicle_type.unique():

array(['van', 'bicycle', 'car', 'walker', 'truck', 'scooter',
       'motorcycle'], dtype=object)

In [44]:
df[df['vehicle_type']=='van']

,delivery_id,customer_id,jumpman_id,vehicle_type,pickup_place,place_category,item_name,item_quantity,item_category_name,how_long_it_took_to_order,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,when_the_delivery_started,when_the_Jumpman_arrived_at_pickup,when_the_Jumpman_left_pickup,when_the_Jumpman_arrived_at_dropoff
0,1457973,327168,162381,van,Melt Shop,American,Lemonade,1.0,Beverages,00:19:58.582052,40.744607,-73.990742,40.752073,-73.985370,2014-10-26 13:51:59.898924,NaT,NaT,2014-10-26 14:52:06.313088
223,1486133,41409,171206,van,Juice Press,Juice Bar,Heaven on Earth,1.0,Raw Superfood Smoothies,NaN,40.725948,-74.001106,40.721756,-74.004035,2014-10-30 13:04:27.467113,2014-10-30 13:08:23.690786,2014-10-30 13:18:21.159299,2014-10-30 13:26:32.864867
505,1431040,328072,165830,van,Momoya,Sushi,California,2.0,Roll,00:05:39.015509,40.784077,-73.977622,40.724982,-73.998079,2014-10-23 17:38:35.283566,2014-10-23 18:13:19.107595,2014-10-23 18:20:09.406528,2014-10-23 18:48:11.416742
515,1338928,42188,104146,van,Parm,Italian,Ricotta Toast,1.0,Bread,00:05:38.132818,40.723020,-73.995854,40.739449,-73.987206,2014-10-11 15:28:12.449484,2014-10-11 15:49:49.664201,2014-10-11 15:55:46.346613,2014-10-11 16:07:12.175364
588,1402218,328849,165830,van,Momofuku Noodle Bar,NaN,Momofuku Ramen,1.0,Bowls,NaN,40.729110,-73.984245,40.727517,-73.991678,2014-10-19 19:21:54.667447,2014-10-19 19:37:32.325561,2014-10-19 20:06:21.336381,2014-10-19 20:14:56.921698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5704,1432170,209552,165830,van,The Palm Too,Steak,Iceberg Lettuce Wedge,1.0,Dinner Salads,00:07:38.144819,40.751575,-73.970913,40.780534,-73.954396,2014-10-23 20:04:41.938014,2014-10-23 20:21:49.990723,2014-10-23 20:37:39.550559,2014-10-23 20:51:57.144681
5847,1478426,246667,174186,van,Magnolia Bakery,Dessert,Vanilla Cupcake,1.0,Classic Cupcakes,NaN,40.759284,-73.980544,40.763885,-73.970783,2014-10-29 09:49:30.542497,2014-10-29 10:25:33.345847,2014-10-29 10:59:39.265696,2014-10-29 11:13:12.593426
5863,1425286,66323,165830,van,Parm,Italian,Meatball Parm,1.0,Sandwiches,00:08:23.536495,40.723020,-73.995854,40.730930,-74.002533,2014-10-22 21:48:49.871747,2014-10-22 22:09:10.130760,2014-10-22 22:17:00.018079,2014-10-22 22:25:13.411473
5928,1467819,97965,171206,van,Village Farm & Grocery,NaN,NaN,NaN,NaN,NaN,40.729183,-73.987098,40.723531,-73.982324,2014-10-27 12:37:44.985294,2014-10-27 12:44:50.172345,2014-10-27 12:55:07.837198,2014-10-27 12:59:24.681591
5943,1394886,55416,162381,van,AMC Loews Kips Bay 15,NaN,NaN,NaN,NaN,NaN,40.742762,-73.976923,40.728836,-73.993793,2014-10-18 23:50:28.122252,NaT,NaT,2014-10-19 01:00:36.186240

In [30]:
df.groupby(by='pickup_place').count().sort_values(by='delivery_id', ascending=False)

,delivery_id,customer_id,jumpman_id,vehicle_type,place_category,item_name,item_quantity,item_category_name,how_long_it_took_to_order,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,when_the_delivery_started,when_the_Jumpman_arrived_at_pickup,when_the_Jumpman_left_pickup,when_the_Jumpman_arrived_at_dropoff
pickup_place,,,,,,,,,,,,,,,,,
Shake Shack,311,311,311,311,311,310,310,310,0,311,311,311,311,311,289,289,311
Momofuku Milk Bar,186,186,186,186,186,185,185,185,0,186,186,186,186,186,179,179,186
The Meatball Shop,184,184,184,184,184,181,181,181,179,184,184,184,184,184,176,176,184
Blue Ribbon Sushi,151,151,151,151,151,149,149,149,147,151,151,151,151,151,127,127,151
sweetgreen,149,149,149,149,149,134,134,134,119,149,149,149,149,149,134,134,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
New York Vintners,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,0,1
New Malaysia,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
New London Pharmacy,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1
New Balance Store,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1
Rai Rai Ken,1,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,1

In [35]:
len(df['pickup_place'].unique())

898

In [36]:
df[df['pickup_place']=='Shake Shack']

,delivery_id,customer_id,jumpman_id,vehicle_type,pickup_place,place_category,item_name,item_quantity,item_category_name,how_long_it_took_to_order,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,when_the_delivery_started,when_the_Jumpman_arrived_at_pickup,when_the_Jumpman_left_pickup,when_the_Jumpman_arrived_at_dropoff
9,1417206,153816,157415,car,Shake Shack,Burger,Shackburger,1.0,Burgers,NaN,40.758457,-73.989140,40.743613,-73.977684,2014-10-21 21:18:37.909545,2014-10-21 21:20:14.434227,2014-10-21 21:47:03.624931,2014-10-21 21:59:26.081278
22,1320596,368663,125504,bicycle,Shake Shack,Burger,Shack-cago Dog,1.0,Flat-Top Dogs,NaN,40.780826,-73.976483,40.801488,-73.969690,2014-10-08 20:53:52.039403,2014-10-08 20:59:18.079384,2014-10-08 21:14:42.577492,2014-10-08 21:23:52.213217
48,1320822,149508,43955,bicycle,Shake Shack,Burger,Cheese Fries,1.0,Fries,NaN,40.715279,-74.014860,40.716168,-74.003693,2014-10-08 21:18:11.900324,2014-10-08 21:28:15.142224,2014-10-08 21:47:35.029385,2014-10-08 21:54:36.734336
64,1414452,148033,128139,car,Shake Shack,Burger,NaN,NaN,NaN,NaN,40.682770,-73.976532,40.693256,-73.966173,2014-10-21 14:57:29.338613,2014-10-21 15:30:02.259968,2014-10-21 15:31:21.050095,2014-10-21 15:37:44.276996
137,1299559,148327,118093,scooter,Shake Shack,Burger,Fries,1.0,Fries,NaN,40.692146,-73.988865,40.701972,-73.987036,2014-10-05 12:30:23.27789,2014-10-05 13:07:23.30729,2014-10-05 13:26:13.134353,2014-10-05 13:35:38.318512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,1393083,58675,140096,bicycle,Shake Shack,Burger,Fries,2.0,Fries,NaN,40.715279,-74.014860,40.707930,-74.006463,2014-10-18 21:22:08.439224,2014-10-18 22:00:41.705364,2014-10-18 22:19:00.988894,2014-10-18 22:27:25.991452
5895,1300312,361651,44938,walker,Shake Shack,Burger,Shackburger,3.0,Burgers,NaN,40.758457,-73.989140,40.766912,-73.984086,2014-10-05 13:54:59.148422,2014-10-05 13:56:22.493833,2014-10-05 14:25:17.32414,2014-10-05 14:41:47.680372
5941,1389568,355090,158227,bicycle,Shake Shack,Burger,Cheese Fries,1.0,Fries,NaN,40.758457,-73.989140,40.761986,-73.985676,2014-10-18 15:50:57.637565,2014-10-18 15:55:54.50221,2014-10-18 16:20:14.411273,2014-10-18 16:25:49.844492
5962,1483811,180567,41408,car,Shake Shack,Burger,Shack -Cago Dog,1.0,Flat Top Dogs,NaN,40.715279,-74.014860,40.722574,-74.010246,2014-10-29 22:37:52.579546,2014-10-29 22:40:28.989659,2014-10-29 22:58:21.162858,2014-10-29 23:02:48.791177
5980,1274438,355090,153113,bicycle,Shake Shack,Burger,Fries,1.0,Fries,NaN,40.780826,-73.976483,40.763573,-73.973503,2014-10-01 18:12:56.973655,2014-10-01 18:29:59.803516,2014-10-01 18:52:19.769244,2014-10-01 19:16:52.653179